# Lab 4

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Thomatous/colab-badge-test/blob/main/labs/lab_4.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [9]:
latitude: float = 40.7128
longtitude: float = -74.0060
population: int = 8336817
area: float = 783.8

print(f"New York's population density: {population / area}")
print(f"Latitude: {latitude}, Longtitude: {longtitude}.")

New York's population density: 10636.408522582293
Latitude: 40.7128, Longtitude: -74.006.

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [10]:
name: str = "San Francisco"
print(f"Original name: {name}")
print(f"Lower case name: {name.lower()}")
print(f"Upper case name: {name.upper()}")
print(f"Shuffled name: {name.replace('San', 'Los')}")

Original name: San Francisco
Lower case name: san francisco
Upper case name: SAN FRANCISCO
Shuffled name: Los Francisco

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [11]:
from typing import List, Tuple

city_list: List[Tuple[str, float, float]] = [("New York City", 40.7128, -74.0060), ("Los Angeles", 34.0522, -118.2437), ("Chicago", 41.8781, -87.6298)]

city_list.append(("Miami", 25.7617, -80.1918))

print(f"City list: {city_list}")
print(f"Sliced list: {city_list[:2]}")

City list: [('New York City', 40.7128, -74.006), ('Los Angeles', 34.0522, -118.2437), ('Chicago', 41.8781, -87.6298), ('Miami', 25.7617, -80.1918)]
Sliced list: [('New York City', 40.7128, -74.006), ('Los Angeles', 34.0522, -118.2437)]

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [12]:
from typing import Tuple

eiffel_tower_coords: Tuple[float, float] = (48.8584, 2.2945)
eiffel_tower_coords[0] = 48.8585

TypeError: 'tuple' object does not support item assignment

Tuples in python are an immutable data type, meaning that we can't change any of the initially assigned values.

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [ ]:
countries = set({"USA", "France", "Germany"})

countries.add("Greece")
countries.add("USA")

print(f"Countries: {countries}")

Countries: {'USA', 'Greece', 'Germany', 'France'}

Adding an already existing value to a set in python doesn't do anything because a set can only include one instance of each unique value.

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 mÂ³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [ ]:
amazon_river: dict = {
    "name": "Amazon",
    "length": 6400,
    "countries": ["Brazil", "Peru", "Colombia"]
}

amazon_river["average_discharge"] = 209000
amazon_river["length"] = 6992

print(amazon_river)

{'name': 'Amazon', 'length': 6992, 'countries': ['Brazil', 'Peru', 'Colombia'], 'average_discharge': 209000}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [ ]:
city: dict = {
    "name": "Tokyo",
    "population": 13515271,
    "coordinates": (35.6895, 139.6917)
}

print(city["population"])
print(city["coordinates"][0])

city["population"] = 14000000

print(city)

13515271
35.6895
{'name': 'Tokyo', 'population': 14000000, 'coordinates': (35.6895, 139.6917)}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [ ]:
cities: List[Tuple[str, float, float]] = [("New York City", 40.7128, -74.0060), ("Los Angeles", 34.0522, -118.2437), ("Chicago", 41.8781, -87.6298)]

cities.sort()

city_names = [city[0] for city in cities]
cities.pop()

print(cities)

[('Chicago', 41.8781, -87.6298), ('Los Angeles', 34.0522, -118.2437)]

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [ ]:
amazon_river: dict = {
    "name": "Amazon",
    "length": 6400,
    "countries": ["Brazil", "Peru", "Colombia"]
}

print("length" in amazon_river)
print(amazon_river.keys())
print(amazon_river.values())

True
dict_keys(['name', 'length', 'countries'])
dict_values(['Amazon', 6400, ['Brazil', 'Peru', 'Colombia']])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [ ]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [ ]:
names = [location[0] for location in locations]
new_locations = {location[0]:(location[1], location[2]) for location in locations}

print(new_locations["K2"][0])

35.8808

## Exercise 11: Manipulating Geographic Location Strings

- Create a string that represents the name of a geographic feature (e.g., `"Amazon River"`).
- Convert the string to lowercase and then to uppercase.
- Concatenate the string with the name of the country (e.g., `"Brazil"`) to create a full location name.
- Repeat the string three times, separating each repetition with a dash (`-`).

In [ ]:
name = "Amazon River"
name = name.lower()
name = name.upper()
name = name + " Brazil"
name = '-'.join(name for _ in range(3))
print(name)

AMAZON RIVER Brazil-AMAZON RIVER Brazil-AMAZON RIVER Brazil

## Exercise 12: Extracting and Formatting Coordinates

- Given a string with the format `"latitude, longitude"` (e.g., `"40.7128N, 74.0060W"`), extract the numeric values of latitude and longitude.
- Convert these values to floats and remove the directional indicators (`N`, `S`, `E`, `W`).
- Format the coordinates into a `POINT` WKT string (e.g., `"POINT(-74.0060 40.7128)"`).

In [ ]:
from typing import Tuple

def separate_directional_indicators(coord: str) -> Tuple[float, str]:
  direction = ''.join(c for c in coord if c in ["N", "S", "E", "W"])
  return (float(coord.replace(direction, '')), direction)

def calculate_signed_coord(coord: Tuple[float, str]) -> str:
  value, direction = coord
  if direction in ["S", "W"]:
    return str(-value)
  elif direction in ["N", "E"]:
    return str(value)
  else:
    raise ValueError("Invalid coordinate tuple")

def create_WKT_point_string(lat: Tuple[float, str], lon: Tuple[float, str]) -> str:
  return f"POINT({calculate_signed_coord(lon)}, {calculate_signed_coord(lat)})"


coords = "40.7128N, 74.0060W"
lat, lon = coords.split(', ')

lat =  separate_directional_indicators(lat)
lon =  separate_directional_indicators(lon)

WKT_point = create_WKT_point_string(lat, lon)

print(WKT_point)

POINT(-74.006, 40.7128)

## Exercise 13: Building Dynamic SQL Queries

- Given a table name and a condition, dynamically build an SQL query string.
- Example: If `table_name = "cities"` and `condition = "population > 1000000"`, the query should be `"SELECT * FROM cities WHERE population > 1000000;"`.
- Add additional conditions dynamically, like `AND` clauses.

In [ ]:
from typing import List

def build_query(table: str, conditions: List[str]) -> str:
  return f"SELECT * from {table} WHERE {' AND '.join(condition for condition in conditions)}"

print(build_query("cities", ["population > 1000000", "area < 1000"]))

SELECT * from cities WHERE population > 1000000 AND area < 1000

## Exercise 14: String Normalization and Cleaning

- Given a list of city names with inconsistent formatting (e.g., `[" new york ", "Los ANGELES", "   CHICAGO"]`), normalize the names by:
  - Stripping any leading or trailing whitespace.
  - Converting them to title case (e.g., `"New York"`, `"Los Angeles"`, `"Chicago"`).
- Ensure that the output is a clean list of city names.

In [ ]:
from typing import List

def format_city_names(names: List[str]) -> List[str]:
  return [name.strip().lower().title() for name in names]

city_names = [" new york ", "Los ANGELES", " CHICAGO"]
print(format_city_names(city_names))

['New York', 'Los Angeles', 'Chicago']

## Exercise 15: Parsing and Extracting Address Information

- Given a string in the format `"Street, City, Country"` (e.g., `"123 Main St, Springfield, USA"`), write a function that parses the string into a dictionary with keys `street`, `city`, and `country`.
- The function should return a dictionary like `{"street": "123 Main St", "city": "Springfield", "country": "USA"}`.

In [ ]:
def parse_address_string(address: str) -> dict:
  street, city, country = address.split(', ')
  return {
      'street': street,
      'city': city,
      'country': country
  }

print(parse_address_string("123 Main St, Springfield, USA"))

{'street': '123 Main St', 'city': 'Springfield', 'country': 'USA'}

## Exercise 16: Using For Loops to Process Coordinate Lists

- Create a list of tuples representing coordinates (latitude, longitude).
- Write a `for` loop that prints each coordinate and indicates whether it is in the Northern or Southern Hemisphere based on the latitude.

In [ ]:
# Latitude, longtitude
coords = [(34.0522, -118.2437), (-33.8688, 151.2093), (51.5074, -0.1278), (-34.6037, -58.3816)]

for lat, lon in coords:
    if lat > 0:
        hemisphere = "Northern"
    else:
        hemisphere = "Southern"
    print(f"Coordinate: ({lat}, {lon}) is in the {hemisphere} Hemisphere")

Coordinate: (34.0522, -118.2437) is in the Northern Hemisphere
Coordinate: (-33.8688, 151.2093) is in the Southern Hemisphere
Coordinate: (51.5074, -0.1278) is in the Northern Hemisphere
Coordinate: (-34.6037, -58.3816) is in the Southern Hemisphere

## Exercise 17: While Loops for Iterative Processing

- Create a list of coordinates (latitude, longitude).
- Write a `while` loop that continues to print each coordinate until it encounters a coordinate with a negative latitude.
- Stop the loop once this condition is met.

In [ ]:
# Latitude, longtitude
coords = [(34.0522, -118.2437), (33.8688, 151.2093), (51.5074, -0.1278), (-34.6037, -58.3816)]

i = 0
while i < len(coords):
    lat, lon = coords[i]
    if lat < 0:
        break
    print(f"Coordinate: ({lat}, {lon})")
    i += 1

Coordinate: (34.0522, -118.2437)
Coordinate: (33.8688, 151.2093)
Coordinate: (51.5074, -0.1278)

## Exercise 18: Conditional Logic in Loops

- Create a list of coordinates and use a `for` loop to iterate over them.
- Use an `if-elif-else` statement inside the loop to classify each coordinate based on its longitude:
  - Print `"Eastern Hemisphere"` if the longitude is greater than 0.
  - Print `"Western Hemisphere"` if the longitude is less than 0.

In [ ]:
# Latitude, longtitude
coords = [(34.0522, -118.2437), (-33.8688, 151.2093), (51.5074, 0), (-34.6037, -58.3816)]

for lat, lon in coords:
    if lon > 0:
        pos = "Eastern Hemisphere"
    elif lon < 0:
        pos = "Western Hemisphere"
    else:
      pos = "Prime Meridian"
    print(pos)

Western Hemisphere
Eastern Hemisphere
Prime Meridian
Western Hemisphere

## Exercise 19: Filtering Data with Combined Loops and Conditionals

- Given a list of coordinates, filter out and store only those located in the Southern Hemisphere (latitude < 0).
- Count the number of coordinates that meet this condition and print the result.

In [ ]:
# Latitude, longtitude
coords = [(34.0522, -118.2437), (-33.8688, 151.2093), (51.5074, -0.1278), (-34.6037, -58.3816)]
southern_hemisphere_coords = [coord for coord in coords  if coord[0] < 0]
print(f"{len(southern_hemisphere_coords)} coordinates in the Southern Hemisphere: {southern_hemisphere_coords}")

2 coordinates in the Southern Hemisphere: [(-33.8688, 151.2093), (-34.6037, -58.3816)]

## Exercise 20: Generating and Analyzing Random Coordinates

- Write a program that generates random coordinates (latitude between [-90, 90] degrees and longitude between [-180, 180] degrees).
- Use a `while` loop to keep generating coordinates until a pair with both latitude and longitude greater than 50 is generated.
- Print each generated coordinate and the final coordinate that meets the condition.

In [ ]:
import random
from typing import Tuple

def generate_lat() -> float:
  return random.uniform(-90, 90)

def generate_lon() -> float:
  return random.uniform(-180, 180)

def generate_coord() -> Tuple[float, float]:
  return (generate_lat(), generate_lon())

coord = generate_coord()
while coord[0] < 50 or coord[1] < 50:
  print(coord)
  coord = generate_coord()

print(f"Terminating coordinate: {coord}")

(-75.45033623098222, 160.41264353133954)
(-37.20357133586651, -47.68761648947503)
(-21.351687697992844, 119.64285369256089)
(-6.6998897978522365, -159.79570282842766)
(-71.57101040660383, -90.72340596098785)
(-23.776556520160128, -113.92679536298027)
(8.318905099131754, -138.8757138696314)
(-67.91880773946647, -164.85302808506472)
(-60.8266683174521, 154.39637712560994)
(-89.85533276949056, 160.50199904812587)
(44.000016697788936, 16.975011013554052)
(38.31439134157273, -157.22783636842524)
(22.87603329664924, 147.46145793489495)
(-4.1994709668636006, -70.37334805263096)
Terminating coordinate: (68.90377342619007, 125.70500776647538)

## Submission Requirements

Complete the exercises above and and upload the notebook to your GitHub repository. Make sure the notebook has a Colab badge at the top so that it can be easily opened in Google Colab. Submit the URL of the notebook to Canvas.